@{ ViewBag.Title = "Dashboard"; }

<!-- Illustrations -->
<div class="card shadow mb-2">
    <div class="card-header py-2">
        <h6 class="m-0 font-weight-bold text-primary">Employee Management System</h6>
    </div>
    <div class="card-body">
        <div class="text-center">
            <img class="img-fluid px-3 px-sm-5 mt-3 mb-3" style="width: 20rem;"
                 src="~/Content/undraw_Operating_system_re_iqsc.svg" alt="...">
        </div>
        <p class="text-center">
            Welcome to your Employee Managment System!
            From this you can keep records of your employess, their leaves, departments, as well as salaries.
            Choose an option and start right now!
        </p>
    </div>
</div>

<div class="card shadow mb-2">
    <div class="card-header py-3">
        <h6 class="m-0 font-weight-bold text-primary">Dashboard</h6>
    </div>
    <div class="card-body">

        <div class="row align-content-center">
            <!-- Employee Card -->

            <div class="col-xl-6 col-md-6 mb-4">
                <div class="card border-left-primary shadow h-100 py-2">
                    <div class="card-body">
                        <a href="~/Employees">
                            <div class="row no-gutters align-items-center">
                                <div class="col mr-2">
                                    <div class="h2 text-xl-center font-weight-bold text-primary text-uppercase mb-2">
                                        Employees
                                    </div>
                                </div>
                                <div class="col-auto">
                                    <i class="fas fa-users fa-5x text-gray-300"></i>
                                </div>
                            </div>
                        </a>
                    </div>
                </div>
            </div>

            <!-- Departments Card -->
            <div class="col-xl-6 col-md-6 mb-4">
                <div class="card border-left-success shadow h-100 py-2">
                    <div class="card-body">
                        <a href="~/Departments">
                            <div class="row no-gutters align-items-center">
                                <div class="col mr-2">
                                    <div class="h2 text-xl-center font-weight-bold text-success text-uppercase mb-2">
                                        Departments
                                    </div>
                                </div>
                                <div class="col-auto">
                                    <i class="fas fa-building fa-5x text-gray-300"></i>
                                </div>
                            </div>
                        </a>
                    </div>
                </div>
            </div>
        </div>

        <div class="row align-content-center">
            <!-- Leaves Card Example -->
            <div class="col-xl-6 col-md-6 mb-4">
                <div class="card border-left-info shadow h-100 py-2">
                    <div class="card-body">
                        <a href="~/LeaveApplies">
                            <div class="row no-gutters align-items-center">
                                <div class="col mr-2">
                                    <div class="h2 text-xl-center font-weight-bold text-info text-uppercase mb-2">
                                        Leaves
                                    </div>
                                </div>

                                <div class="col-auto">
                                    <i class="fas fa-umbrella-beach fa-5x text-gray-300"></i>
                                </div>
                            </div>
                        </a>
                    </div>
                </div>
            </div>

            <!-- Salaries Card Example -->
            <div class="col-xl-6 col-md-6 mb-4">
                <div class="card border-left-warning shadow h-100 py-2">
                    <div class="card-body">
                        <a href="~/Salaries">
                            <div class="row no-gutters align-items-center">
                                <div class="col mr-2">
                                    <div class="h2 text-xl-center font-weight-bold text-warning text-uppercase mb-2">
                                        Salaries
                                    </div>
                                </div>
                                <div class="col-auto">
                                    <i class="fas fa-dollar-sign fa-5x text-gray-300"></i>
                                </div>
                            </div>
                        </a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>